.pexelsRachelClaire45771791Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2167px;
  height: 1444px;
  object-fit: cover;
  opacity: 0.5;
}
.ritimeLineIcon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.icon,
.menuItem {
  display: flex;
  flex-direction: row;
}
.icon {
  border-radius: var(--br-481xl);
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}
.menuItem {
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.restaurant {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
}
.menu,
.menuItem1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.menuItem1 {
  border-radius: var(--br-81xl);
  background-color: var(--text-default);
  align-items: flex-start;
  padding: var(--padding-base);
}
.menu {
  align-items: center;
}
.bookATable {
  position: relative;
  font-size: var(--text-small-size);
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--text-xlarge);
  color: var(--text-default);
  text-align: left;
}
.button,
.inner,
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-5xl);
  background-color: var(--color-gray-100);
  border-radius: var(--br-81xl);
  align-items: flex-start;
}
.inner,
.navbar {
  align-items: center;
}
.inner {
  gap: var(--gap-11xs);
}
.navbar {
  position: absolute;
  top: 870px;
  left: 561px;
  border-radius: var(--br-81xl);
  background-color: var(--text-default);
  overflow: hidden;
  padding: var(--padding-3xs);
}
.mon,
.openingHours {
  position: relative;
  line-height: 160%;
}
.mon {
  font-weight: 500;
}
.dropdown,
.grid,
.row {
  display: flex;
  align-items: flex-start;
}
.row {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown,
.grid {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.grid {
  align-self: stretch;
  font-size: var(--text-default-size);
}
.dropdown {
  position: absolute;
  top: 685px;
  left: 961px;
  border-radius: var(--br-3xs);
  background-color: var(--text-default);
  width: 250px;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--heading-h6-size);
}
.thailand,
.thePureTaste {
  position: relative;
  line-height: 90%;
}
.thailand {
  font-size: var(--heading-xlarge-size);
  font-weight: 500;
  font-family: var(--text-xlarge);
  color: var(--text-default);
}
.grid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.loremIpsumDolor {
  position: relative;
  font-size: var(--text-xlarge-size);
  line-height: 160%;
  font-family: var(--text-xlarge);
  color: var(--text-default);
  text-align: center;
  display: inline-block;
  width: 600px;
}
.grid1 {
  top: 338px;
  left: 497px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--heading-medium-size);
  color: var(--text-primary);
  font-family: var(--heading-h1-italic);
}
.grid1,
.logo,
.nique {
  position: absolute;
}
.nique {
  top: 0;
  left: 0;
  line-height: 90%;
  font-weight: 500;
}
.logo {
  top: 64px;
  left: 796px;
  width: 97px;
  height: 29px;
  font-size: var(--font-size-13xl);
  color: var(--text-default);
}
.frontpage {
  position: relative;
  background-color: var(--background-default);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-default-size);
  color: var(--text-inverse);
  font-family: var(--text-xlarge);
}
